@charset "utf-8";
/* CSS Document */
*{ margin:0px;	padding:0px;}
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-style:normal;}
a { text-decoration:none; outline:none;}
img { border:0px; outline:none; display:block;}
ul{ list-style:none; margin:0px;}
li{list-style-type:none;}
html,body{ height:100%;}
.clr{clear:both;}
.container{ width:92%; max-width:1168px;}
body{ font-family: 'open_regular';}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensanssemibold/opensans-semibold.eot');
    src: url('../fonts/opensanssemibold/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanssemibold/opensans-semibold.woff') format('woff'),
         url('../fonts/opensanssemibold/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensanssemibold/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_regular';
    src: url('../fonts/opensansregular/opensans-regular.eot');
    src: url('../fonts/opensansregular/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansregular/opensans-regular.woff') format('woff'),
         url('../fonts/opensansregular/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensansregular/opensans-regular.svg#opensans-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensansbold/opensans-bold.eot');
    src: url('../fonts/opensansbold/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansbold/opensans-bold.woff') format('woff'),
         url('../fonts/opensansbold/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensansbold/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Impact';
  src: url('../fonts/Impact/Impact.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/Impact/Impact.woff') format('woff'),
    url('../fonts/Impact/Impact.ttf')  format('truetype'),
	 url('../fonts/Impact/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}


/****login****/
.form-wrapper .logo {
    width: 100%;
}
.frm.form-title img {
    display: inline-block; 
     float: none;
}
.form-wrapper {background-color: #fff; border-radius: 3px;box-shadow: 0 0 6px #ccc;margin: 5% auto;
    padding: 30px;width: 400px; max-width:100%;}
    .form-title {float: left;text-align: center;width: 100%;}
    .form-content {float: left;padding-top: 30px;width: 100%;}
    .form-content h5 {font-family: "open_sansbold";padding-bottom: 10px; font-size: 17px; margin-top: 0px; text-transform: uppercase;}
    .form-content .form-group label{font-weight: normal; font-size: 14px;}
    .iconic-form label {color: #231f20;font-weight: normal;}
    .iconic-form input{border-radius:0px;}
    .forgot-txt {color: #424242;float: right;font-style: italic;text-decoration: underline;}
    .full-width-btn {border:0px; background: #53c1ff none repeat scroll 0 0;border-radius: 0;color: #fff;float: left;text-transform: uppercase;}
    .new-account-link{padding-top:15px;}
    .sign_cls {float: right;line-height: 32px;}
    .sign_cls .f_r{ margin-top:15px;}
    .form-content .form-group input {
        border-radius: 0;
    }

    
/****login****/

/**Register**/
.captcha_img,.captcha_img img{width:100%; float:left;}
.create_btn {float: left;margin: 15px 0;width: 100%;}
.sign_cls_new{width:100%;float:left;text-align:center;}
/**Register**/


/*Header*/
.header{width:100%;float:left;padding:15px 50px 15px 30px;background-color:#ffffff;box-shadow:0 0 8px 1px #d2d4d5;}
.logo{width:50%;float:left;}
div#swipe-adminProfile{width:50%;float:left;}
#swipe-adminProfile .dropdown{float:right;}
#swipe-adminProfile .dropdown .admin-profile{float:left;width:55px;height:55px;background-color:#fff;border-radius:100%;border:1px solid #ccc;}
div#response-menu button{border-color:#53c1ff;margin-top:13px;margin-bottom:0;}
div#response-menu button span{background-color:#53c1ff;}
div#response-menu {display: none;}
.admin-profile img{width:100%;height:100%;display:block;}
#swipe-adminProfile .dropdown button#menu1{color:#353535;background-color:transparent;border-color:transparent;outline:none !important;box-shadow:none;font-size:16px;margin-top:10px;}
#swipe-adminProfile ul.dropdown-menu{padding:0;border-radius:0;border:0;width:auto;min-width:130px !important;left:57px;top:47px;}
#swipe-adminProfile ul.dropdown-menu li a{padding:7px 20px;color:#000;outline:none !important;}
#swipe-adminProfile ul.dropdown-menu li a:hover{background-color:#53c1ff;color:#fff;}
/*Header*/

/*Swipe-Content*/
.left-menu ul li {
    float: left;
    margin-bottom: 2px;
    width: 100%;
}
.swipe-content{width:100%;float:left;display:table;height:100%;background-color:#e2e2e2;}
.content-section{display:table-cell;background-color:#f5f7f8;height:100%;vertical-align:top;padding:30px 15px 15px;border-top:1px solid #e2e2e2;}
.swpie-footer p {margin: 0}
.dashboard-graph {width: 100%;float: left;}
.swipe-aside{display:table-cell;background-color:#e2e2e2;height:100%;vertical-align:top;padding:0;}
.left-menu ul li a i{padding-right:15px; font-size:20px;}
.left-menu{width:100%;float:left;}
.left-menu ul li a.active{background-color:#53c1ff; color:#fff;}
.left-menu ul li a:hover{background-color:#53c1ff;color:#fff;}
.left-menu ul li a{font-family: open_sansbold; width:100%;float:left;color:#53c1ff;text-transform:uppercase;text-decoration:none;padding:12px 12px;font-size:16px;}
.myGraph{width:100%;float:left;margin-bottom:30px;border:1px solid #e2e2e2;border-radius:4px;}
.myGraph img{width:100%;float:left;}
.swpie-footer{width:100%;float:left;padding:7px 0;}

/* Deals */
.swipe_deals{width:100%;float:left;}
.swipe_deals{width:100%;float:left;}
.maintain_dealsforms{width:100%;float:left;background-color:#ffffff;padding:12px;border:1px solid #e2e2e2;border-radius:7px;margin-bottom:22px;}
.swipeDeals_form form{width:100%;float:left;}
.swiper-tableDeals{width:100%;float:left;background-color:#ffffff;padding:12px;border-radius:7px;margin-bottom:22px;border:1px solid #e2e2e2;}
.swiper-tableDeals table thead{background-color:#53c1ff;color:#fff;}
.swiper-tableDeals table{border:1px solid #e2e2e2;}
.maintain_dealsforms h4{color:#34495e;   font-family: 'open_sansbold';font-size:24px;}
.swipeDeals_form{width:100%;float:none;margin:auto;max-width:510px;}
.form-swiper{width:100%;height:36px;padding:7px 12px;border-radius:4px;border:1px solid #d9d9d9;background-color:#f5f7f8;color:#2b2f3e;}
.form-swiper:focus{border:1px solid #78a9d8;outline:none;webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);}
.swipe-from label{color:#34495e;font-weight:300;float:left;width:145px;}
textarea.form-swiper{min-height:100px;max-width:70%;}
.swipe-from input, .swipe-from select, .swipe-from textarea{width:70%;}
.swipe-date-from label{width:145px;float:left;color:#34495e;font-weight:300;}
.swipe-date-from .date-method{width:29%;float:left;margin-right:2%;}
.date-method{position:relative;}
.date-method i{position:absolute;right:6px;top:10px;color:#53c1ff;}
.swipe-date-from .date-method:last-child{margin-right:0;}
.form-btn-result{width:100%;float:left;text-align:center;margin:33px 0 15px;}
.btn-swipe-primary{background-color:#53c1ff;color:#fff;border:1px solid #53c1ff;padding:6px 12px;margin-right:15px;border-radius:7px;width:100px;outline:none !important;}
.btn-swipe-default{border:1px solid #9e9494;border-radius:7px;padding:6px 12px;background-color:#6f6f6f;color:#fff;width:100px;outline:none !important;}
.table-dealshead{width:100%;}
.swiper-tableDeals tbody tr td{ padding: 10px 17px; vertical-align:bottom; text-align:center; border-bottom:1px solid #e2e2e2; padding-bottom: 10px;  line-height: 32px;}
.dealsinner span:last-child{text-align:center;float:right;}
.deal-active span{background-color:#2ecc71;color:#fff;padding:2px 7px;border-radius:7px;cursor:pointer;}
.deal-active.exp-swper span{background-color:#e74c3c;}
.dealsinner span{width:48%;float:left;text-align:center;}
.table-dealshead span{background-color:#c0dae9;width:45%;float:left;text-align:center;border-radius:7px;margin-right:5%;}
.swipe-from select{-webkit-appearance:none;background:#f5f7f8 url("../images/dropdown.png") no-repeat 99% center;}
.deal-active span {
    float: left;
    text-align: center;
    width: 100%;
}
.swiper-tableDeals tbody tr td i {
    text-align: center;
    width: 100%;
}

.swiper-tableDeals .table > thead > tr > th{text-align: center;}
.table-dealshead span {
    margin: 0 5px 16px;
}
/* Deals */
/*Payemnt*/
.swipe_payment h3{font-family: 'open_sansbold'; color:#34495e; font-size:23px;}
.swipe_payment p{color:#34495e;font-size:15px; line-height: 26px;}
.btn-register{background-color:#53c1ff;color:#fff !important;}
.swipe_payment p{color:#34495e;font-size:15px;}
.btn-register{background-color:#53c1ff;color:#fff !important;outline:none;padding:7px 24px;border-radius:7px;outline:none !important;}
.swipe_payment{width:100%;float:left;padding:12px 15px;background-color:#fff;border-radius:7px;border:1px solid #e2e2e2;}
.swiper_disclaimer h4{color:#e72020;}
.swipe-rightbtn{text-align:right;}
.swiper_disclaimer{width:100%;float:left;padding:12px 15px;background-color:#fff;border-radius:7px;border:1px solid #e2e2e2;margin-bottom:20px;}
div#register-swipe .modal-header{background-color:#53c1ff;color:#fff;text-align:center;padding:12px;}
div#register-swipe{border-radius:0 0 6px 6px;}
.swipe_payment h3{margin:0 0 18px 0;}
.swipe_payment{width:100%;float:left;padding:23px 25px;background-color:#fff;border-radius:7px;border:1px solid #e2e2e2;margin-bottom:20px;}
.parment-reqiures{text-align:center;width:100%;float:left;margin-bottom:17px; margin-top: 17px;}
.swiper_disclaimer p{color:#34495e;font-size:15px; line-height: 26px;}

/*Payemnt*/
/*contact*/
.contact_section{width:100%;float:left;}
.contact_section img{width:100%;float:left;position:relative;}
.detalis_sec{float:left;position:absolute;text-align:center;top:38%;width:97%;}
.main_dec{background:#fff none repeat scroll 0 0;border-radius:4px;display:inline-block;float:none; max-width:633px; width:100%; padding:20px;}
.left_dec{float:left;padding-right:20px;text-align:left;width:58%;}
.right_det{text-align:left;float:left;}
.right_det{float:left;text-align:left;}
.left_dec > h5 ,.right_det > h5{   font-family: 'open_sansbold';font-size:20px;padding-bottom:10px;}
.left_dec p{color:#34495e; line-height: 25px;}
.right_det ul li{color:#34495e;padding-bottom:7px;}

/*contact*/
/* End Swipe-Content*/

.forget_m button[type="submit"] {
    display: inline-block;
    float: none;
    margin-bottom: 23px;
}
.forget_m .full-width-btn {
    display: inline-block;
    float: none;
}
.forget_m {
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 13px;
}
.f_r.sign_cls{
width:100%;
text-align:center;
}

.error {
    color: #f00;
}



input.active:valid {
    box-shadow: 0 0 1px 1px #53c1ff;

  }
  
  input.active:invalid {
    box-shadow: 0 0 1px 1px red;
  }


  .g-recaptcha {
    transform-origin: left top;
    -webkit-transform-origin: left top;
  }

 

  #register-swipe .modal-header button i {
    font-size: 26px;
}

#register-swipe .modal-header button {
    border: 0px;
    background: transparent;
    float: right;
    margin-top: -27px;
}


.dealsinner span:first-child {float: left;  width: 116px;}
.dealsinner span:last-child {float: right;width: 116px;}
.dealsinner label {float: left; width: 25px;}
.swiper-tableDeals tbody tr td:nth-child(4) {  width: 297px; border-bottom: 0px;}

.dealsinner p:first-child {float: left;  width: 116px;}
.dealsinner p:last-child {float: right;width: 116px;}
.dealsinner label {float: left; width: 25px;}
.swiper-tableDeals tbody tr td:nth-child(4) {  width: 297px; border-bottom: 0px;}


.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 141px;
    height: 1px;
    background-color: #53c1ff;
    z-order: 0;
	left:57px;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

form .setup-content h3 {
    margin-bottom: 31px;
}

.custom-modal .modal-header h4 {
    text-transform: uppercase;
	font-family: 'open_sansbold';
}